.button-update {
	display: block;
	position: fixed;
	z-index: 10;
	padding: 10px 20px;
	background: rgba(51,51,51,0.6);
	border-radius: 0 5px 5px 0px;
	border-bottom: 3px solid rgba(164,212,170,1);
	transition: 0.5s;
}

.button-update:hover {
	background-color: rgba(164,212,170,1)!important;
	color: #5b5150!important;
	transition: 0.5s;
}

.button-inline {
	display: inline-block!important;
	width: 50%!important;
}

.button-size:hover {
	color: rgb(156, 13, 16);
	text-shadow: 0 0 15px #333;
}
.button-input {
	background: none;
	border: none;
	font-family: 'Baloo Bhai', cursive!important;
	color: #333;
	transition: 0.5;
}
.button-input:hover {
	color: whitesmoke;
	transition: 0.5;
}


.button-size {
	font-size: 3em;
	background: none;
	color:whitesmoke;
	display: block;
	border: none;
	width: 100%;
	transition: 0.5s;
}
.go-play {
	position: fixed;
	margin-top: 65px;
	width: 150px!important;
	left: 50px;
	text-shadow: 0 0 15px #333;
}
