.title-movie {
	font-family: 'Baloo Bhai', cursive;
	font-weight: 100;
	margin-top: 0;
	width: 100%;
	padding-bottom: 10px;
	text-align: center;
	color: whitesmoke;
	font-size: 24px;
}
.img-movie {
	height: 300px;
	margin: 5px;
	box-shadow: 1px 0 3px #000;
}

.content-movie {
	width: 45%;
	color: whitesmoke;
}

.close-search {
	margin-top: -80px;
	position: absolute;
	color: whitesmoke;
	font-size: 5em;
	height: 120px;
	width: 120px;
	text-shadow: 0 0 15px #333;
	transition: 0.5s;
	padding: 0;
	border-radius: 50%;
	margin-left: 43%;
}

.close-search:hover {
	color: rgb(156, 13, 16);
	text-shadow: 0 0 15px #333;
	transition: 0.5s;
}
